on init
    mount none /system/etc/fstab.qcom /vendor/etc/fstab.qcom bind

service vendor.imsdatadaemon /vendor/bin/imsdatadaemon
    override
    class main
    user radio
    socket ims_datad stream 0660 system radio
    group radio wifi inet vendor_qti_diag log
    disabled
